.page {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px 0;
	background-color: $purpur-blue;
}

.laptop {
	width: 100%;
	padding: 20px;
	background-color: $black;
	border-radius: 25px;
}

.sections {
	display: flex;
	width: 100%;

	@media (max-width: 767px) {
		flex-direction: column
	}
}

.section-left {
	width: 30%;
	padding-right: 10px;

	@media (max-width: 767px) {
		width: 100%;
		padding-right: 0;
	}

	&.section-error {
		min-width: 235px;
		width: auto;
		padding-right: 0;
	}
}

.section-right {
	width: 70%;
	padding-left: 10px;

	@media (max-width: 767px) {
		width: 100%;
		margin-top: 16px;
		padding-left: 0;
	}
}

.city-inner {
	position: relative;
	display: inline-block;
	width: 100%;

	&__ico {
		font-size: 24px;
        color: $white;
        position: absolute;
		right: 16px;
		top: 13px;
        z-index:  2; 
        cursor: pointer;

        &:hover {
            color: $gray;
        }

        &_active {
            color: $purpur-blue;
        }
    }
}

.info {
	height: 100%;
	padding: 16px;
	background: url('@assets/img/gradient-1.jpg') no-repeat 50% 50%;
	background-size: cover;
	border-radius: 25px;
}

.search {
	width: 100%;
	padding: 16px;
	color: $white;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 16px;
	border: none;
	outline: none;
	cursor: pointer;
}

.section-bottom {
	width: 50%;
	margin-top: 16px;

	@media (max-width: 767px) {
		width: 100%
	}
}

.error {
	padding-top: 20px;

	&-title {
		font-size: 18px;
		font-weight: 700;
	}

	&-message {
		font-size: 12px;
		padding-top: 10px;
		color: $red;
	}
}