@font-face {
    font-family: "NissanBrand-Bold";
    src: url("@assets/fonts/NissanBrand-Bold.otf") format('opentype');
}

@font-face {
    font-family: "NissanBrand-Light";
    src: url("@assets/fonts/NissanBrand-Light.otf") format('opentype');
}

@font-face {
    font-family: "NissanBrand-Regular";
    src: url("@assets/fonts/NissanBrand-Regular.otf") format('opentype');
}

@import url('https://apps.szdl.ru/app-assets/fonts/fontawesome-pro-5.13.0/css/all.min.css');