// Main color
$black					 : #000000;
$white		             : #FFFFFF;
$gold                    : #ffd347;
$red		             : #C31631;
$red-2		             : #C10933;
$gray		             : #0ABAB5;
$purpur-blue             : #59585d;

// Font
$lightFont               : "NissanBrand-Light", sans-serif;
$regularFont             : "NissanBrand-Regular", sans-serif;
$boldFont                : "NissanBrand-Bold", sans-serif;
$mainFont                : $lightFont;

// Size
$mainFontColor           : $black;
$mainFontSize            : 16px;
$mainFontWeight          : 300;        
$mainLineHeight          : 1.6;